In [1]:
# get relative data folder
import pathlib
import pandas as pd
# PATH = pathlib.Path(__file__).parent
# DATA_PATH = PATH.joinpath("../datasets").resolve()
df = pd.read_csv("../datasets/disease.csv",parse_dates=['date1'],index_col='date1')
influ = round(df['influenza'].mean())
influ_death = round(df['influenza_death'].mean())
deng = round(df['dengue_fever'].mean())
deng_death = round(df['dengue_fever_death'].mean())
diarr = round(df['diarrhoea'].mean())
diarr_death = round(df['diarrhoea_death'].mean())

df['influenza'] = df['influenza'].fillna(influ)
df['influenza_death'] = df['influenza_death'].fillna(influ_death)
df['dengue_fever'] = df['dengue_fever'].fillna(deng)
df['dengue_fever_death'] = df['dengue_fever_death'].fillna(deng_death)
df['diarrhoea'] = df['diarrhoea'].fillna(diarr)
df['diarrhoea_death'] = df['diarrhoea_death'].fillna(diarr_death)

In [3]:
df.index.dtype

dtype('<M8[ns]')

In [4]:
df = pd.read_csv(("../datasets/disease.csv"))
influ = round(df['influenza'].mean())
influ_death = round(df['influenza_death'].mean())
deng = round(df['dengue_fever'].mean())
deng_death = round(df['dengue_fever_death'].mean())
diarr = round(df['diarrhoea'].mean())
diarr_death = round(df['diarrhoea_death'].mean())

df['influenza'] = df['influenza'].replace(to_replace=0,value=influ)
df['influenza_death'] = df['influenza_death'].replace(to_replace=0,value=influ_death)
df['dengue_fever'] = df['dengue_fever'].replace(to_replace=0,value=deng)
df['dengue_fever_death'] = df['dengue_fever_death'].replace(to_replace=0,value=deng_death)
df['diarrhoea'] = df['diarrhoea'].replace(to_replace=0,value=diarr)
df['diarrhoea_death'] = df['diarrhoea_death'].replace(to_replace=0,value=diarr_death)

In [5]:
df.to_csv('../datasets/disease.csv')

In [6]:
import pandas as pd
data = pd.read_csv("../datasets/climate.csv" ,index_col='date1',parse_dates=['date1'])
data['rain']

date1
1997-01-15    10.7
1997-01-15    49.5
1997-01-15    35.9
1997-01-15     7.8
1997-01-15     7.6
              ...
2019-12-15     0.0
2019-12-15     0.0
2019-12-15     0.0
2019-12-15     0.0
2019-12-15     0.0
Name: rain, Length: 30360, dtype: float64

In [16]:
from app.database import models as md

query = md.GetData()

disease = query.get_to_disease()
disease['influenza'].resample('A').mean()
disease

,year,month,fips,province_name,influenza,influenza_death,dengue_fever_death,dengue_fever,diarrhoea,diarrhoea_death
date1,,,,,,,,,,
1998-02-15,1998,2,28,Hưng Yên,1684.0,0.0,0.0,77.0,775.0,0.0
2012-08-15,2012,8,28,Hưng Yên,1604.0,0.0,0.0,77.0,1033.0,0.0
2009-02-15,2009,2,28,Hưng Yên,1125.0,0.0,0.0,77.0,838.0,0.0
2011-04-15,2011,4,28,Hưng Yên,1347.0,0.0,0.0,77.0,788.0,0.0
2012-09-15,2012,9,28,Hưng Yên,1758.0,0.0,0.0,77.0,1005.0,0.0
...,...,...,...,...,...,...,...,...,...,...
2015-10-15,2015,10,13,Bạc Liêu,262.0,0.0,0.0,87.0,204.0,0.0
2019-08-15,2019,8,13,Bạc Liêu,2241.0,0.0,0.0,77.0,993.0,0.0
1998-07-15,1998,7,13,Bạc Liêu,295.0,0.0,0.0,173.0,834.0,0.0
2003-07-15,2003,7,13,Bạc Liêu,796.0,0.0,3.0,256.0,541.0,0.0
2011-06-15,2011,6,13,Bạc Liêu,347.0,0.0,0.0,193.0,302.0,0.0

In [18]:
df = query.get_to_climate_disease()
df

                    province_name  fips  year
0                          Hà Nội    23  2013
1                          Hà Nội    23  2006
2                          Hà Nội    23  2007
3                          Hà Nội    23  2007
4                          Hà Nội    23  2002
...                           ...   ...   ...
2015-10-15 00:00:00      Bạc Liêu    13  2015
2019-08-15 00:00:00      Bạc Liêu    13  2019
1998-07-15 00:00:00      Bạc Liêu    13  1998
2003-07-15 00:00:00      Bạc Liêu    13  2003
2011-06-15 00:00:00      Bạc Liêu    13  2011

[60720 rows x 3 columns]